*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #6d6d6d;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


}
form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #4b4b4b;
  padding: 2rem;
  border-radius: 8px;
}
input{
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
}
button{
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  background-color: #1e90ff;
  color: white;
  cursor: pointer;
}
button:hover{
  background-color: #1c86ee;          
} 