*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    padding: 10px 40px;
    color: black;
    border-radius: 10px;
    gap: 20px;
}
#box{
    margin-top: 300px;
    gap: 10px;
    
    
}
h1{
    background-color: rgb(32, 32, 32);
    padding: 30px 60px;
    border-radius: 5px;
    margin: 20px;
    color: white;
}