*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  margin-bottom: 20px;
  color: aliceblue;
}
button{
  padding: 20px 30px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #61dafb;
  color: #000000;
}
button:hover{
  background-color: #21a1f1;
} 